<form>

    <div class="form-group">
        <label for="nomePatrocinador">Nome</label>
        <input type="text" class="form-control" id="nomePatrocinador">
    </div>

    <div class="form-group">
        <label for="emailPatrocinador">Email address</label>
        <input type="email" class="form-control" id="emailPatrocinador" aria-describedby="emailHelp" placeholder="Coloque o email">
        <small id="emailHelp" class="form-text text-muted">O seu email nunca será usado sem a sua premissão.</small>
    </div>

    <div class="form-group">
        <select>
            <option value="publico">Publico</option>
            <option value="privado">Privado</option>
        </select>
    </div>

    <div class="form-group">
        <label for="nifPatrocinador">Nif</label>
        <input type="text" class="form-control" id="nifPatrocinador" >
    </div>

      <div class="form-group">
    <label for="telemovelUser">Numero Telemovel</label>
    <input type="text" class="form-control" id="telemovelUser" placeholder="Telemovel">
  </div>

    <div class="form-group">
        <label for="logPatrocinador">Logotipo</label>
        <input type="text" class="form-control" id="logPatrocinador">
    </div>


    <button type="submit" class="btn btn-primary">Submeter</button>
    <a class="btn btn-primary" href="/"> Sair</a>
</form>