{{>navbar}}
 
 <section class="bg-light text-black">
      <div class="container text-center">
        <h2 class="mb-4">Evento disponivel!</h2>
        
        <figure class="foto-evento">
	<img src="img/portfolio/fullsize/5.jpg"/>
	<figcaption>
		<h3>Evento data:24/05/2019 </h3>
		<p>Reciclagem</p>

	</figcaption>
</figure>
        
        
        <h3> Este evento vai ser realizado no dia 24/05/2019 no centro da cidade de Braga às 15h00.
             A atividade relacionada com este evento é a reciclagem, um importante processo para a diminuição do lixo e da extração de recursos, porém não é a única medida responsável por uma sociedade sustentável.      
        </h3> 

        <a href="/eventos/registo" class="btn btn-primary">Registar no Evento</a>
        
      </div>
    </section>  
